body {
    font-family: Arial, Helvetica, sans-serif;
    /* align-content: center; */
    background-color: #efefef;
}

#container {
    width: 50%;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    
}

#main-content {
    border: 1px solid #777;
    text-align: center justify;
    padding: 20px;
    background-color: #fff;
}

#random-number {
    float: left;
    border: 1px solid #777;
    width: 50%;
    height: 100px;
    text-align: center;
    font-weight: bold;
    padding-top: 55px;
    font-size: 36pt;
    background-color: #fff;

}

#score {
    float: right;
    border: 1px solid #777;
    width: 45%;
    height: 125px;
    padding-top: 30px;
    background-color: #fff;
}

#score #win {
    text-align: left;
    margin-left: 50px;
}

#score #loss {
    text-align: left;
    margin-left: 50px;
}

#jewels {
    border: 1px solid #777;
    float: left;
    margin-top: 20px;
    width: 100%;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

#jewels #red {
    float: left;
    margin-left: 100px;
    margin-right: 20px;
}

#jewels #blue {
    float: left;
    margin-right: 20px;
}

#jewels #yellow {
    float: left;
}

#jewels #green {
    float: right;
    margin-right: 100px;
}

#total-score {
    border: 1px solid #777;
    float: left;
    width: 50%;
    height: 155px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #fff;
}

#updated-score {
    font-weight: bold;
    font-size: 36pt;
    margin: 0;
    margin-top: 30px;
}